In [1]:
from time import sleep
import time
import os
from selenium.webdriver.support.ui import WebDriverWait
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
from selenium.webdriver.support import expected_conditions as EC

In [57]:
browser = webdriver.Chrome(executable_path="C:\\Users\\bisht\\Downloads\\chromedriver-win64\\chromedriver-win64\\chromedriver.exe")


wait = WebDriverWait(browser, 15)
browser.get('https://www.cars24.com/buy-used-hatchback-cars-bangalore/')

C:\Users\bisht\AppData\Local\Temp\ipykernel_36068\3105421031.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome(executable_path="C:\\Users\\bisht\\Downloads\\chromedriver-win64\\chromedriver-win64\\chromedriver.exe")

In [36]:
from selenium.webdriver.common.keys import Keys


configuration_hatchback = []  
previous_car_count = 0
while True:
    browser.find_element(By.TAG_NAME, 'body').send_keys(Keys.END)
    time.sleep(3)  
    current_car_elements = browser.find_elements(By.XPATH, "//ul[@class='_13yb6']")
    
    if len(current_car_elements) == previous_car_count:
        break 
    else:
        for element in current_car_elements[previous_car_count:]:
            configuration_hatchback.append(element.text)
        previous_car_count = len(current_car_elements)

In [37]:
Car_Model_hatchback = []  
previous_car_count = 0
while True:
    browser.find_element(By.TAG_NAME, 'body').send_keys(Keys.END)
    time.sleep(3) 
    current_car_elements = browser.find_elements(By.XPATH, "//h2[@class='_2lmIw']")
    
    if len(current_car_elements) == previous_car_count:
        break  
    else:
        for element in current_car_elements[previous_car_count:]:
            Car_Model_hatchback .append(element.text)
        previous_car_count = len(current_car_elements)

In [38]:

Type_hatchback = []  
previous_car_count = 0
while True:
    browser.find_element(By.TAG_NAME, 'body').send_keys(Keys.END)
    time.sleep(3) 
    current_car_elements = browser.find_elements(By.XPATH, "//ul[@class='_1hOnS']")
    
    if len(current_car_elements) == previous_car_count:
        break 
    else:
        for element in current_car_elements[previous_car_count:]:
            Type_hatchback.append(element.text)
        previous_car_count = len(current_car_elements)

In [39]:
Discounted_Car_Price_hatchback = []  
previous_car_count = 0
while True:
    browser.find_element(By.TAG_NAME, 'body').send_keys(Keys.END)
    time.sleep(3)  
    current_car_elements = browser.find_elements(By.XPATH, "//div[@class='_18ToE']")
    
    if len(current_car_elements) == previous_car_count:
        break  
    else:
        for element in current_car_elements[previous_car_count:]:
            Discounted_Car_Price_hatchback.append(element.text)
        previous_car_count = len(current_car_elements)

In [40]:
Location = []  
previous_car_count = 0
while True:
    browser.find_element(By.TAG_NAME, 'body').send_keys(Keys.END)
    time.sleep(3) 
    current_car_elements = browser.find_elements(By.XPATH, "//span[@class='_3DYbK']")
    
    if len(current_car_elements) == previous_car_count:
        break  
    else:
        for element in current_car_elements[previous_car_count:]:
            Location.append(element.text)
        previous_car_count = len(current_car_elements)

- # Sedan

In [58]:
browser.get('https://www.cars24.com/buy-used-sedan-cars-bangalore/')

In [17]:
Car_Model_Sedan = [] 
previous_car_count = 0
while True:
    browser.find_element(By.TAG_NAME, 'body').send_keys(Keys.END)
    time.sleep(3)  
    current_car_elements = browser.find_elements(By.XPATH, "//h2[@class='_2lmIw']")
    
    if len(current_car_elements) == previous_car_count:
        break 
    else:
        for element in current_car_elements[previous_car_count:]:
            Car_Model_Sedan .append(element.text)
        previous_car_count = len(current_car_elements)

In [18]:
from selenium.webdriver.common.keys import Keys

# ...

configuration_Sedan = []  
previous_car_count = 0
while True:
    browser.find_element(By.TAG_NAME, 'body').send_keys(Keys.END)
    time.sleep(3)  
    current_car_elements = browser.find_elements(By.XPATH, "//ul[@class='_13yb6']")
    
    if len(current_car_elements) == previous_car_count:
        break  
    else:
        for element in current_car_elements[previous_car_count:]:
            configuration_Sedan.append(element.text)
        previous_car_count = len(current_car_elements)

In [19]:

Type_Sedan = [] 
previous_car_count = 0
while True:
    browser.find_element(By.TAG_NAME, 'body').send_keys(Keys.END)
    time.sleep(3) 
    current_car_elements = browser.find_elements(By.XPATH, "//ul[@class='_1hOnS']")
    
    if len(current_car_elements) == previous_car_count:
        break 
    else:
        for element in current_car_elements[previous_car_count:]:
            Type_Sedan.append(element.text)
        previous_car_count = len(current_car_elements)

In [20]:
Discounted_Car_Price_Sedan = []  


previous_car_count = 0
while True:
    browser.find_element(By.TAG_NAME, 'body').send_keys(Keys.END)
    time.sleep(3) 
    current_car_elements = browser.find_elements(By.XPATH, "//div[@class='_18ToE']")
    
    if len(current_car_elements) == previous_car_count:
        break  
    else:
        for element in current_car_elements[previous_car_count:]:
            Discounted_Car_Price_Sedan.append(element.text)
        previous_car_count = len(current_car_elements)

In [59]:
Location_Sedan = []  

previous_car_count = 0
while True:
    browser.find_element(By.TAG_NAME, 'body').send_keys(Keys.END)
    time.sleep(3) 
    current_car_elements = browser.find_elements(By.XPATH, "//span[@class='_3DYbK']")
    
    if len(current_car_elements) == previous_car_count:
        break  
    else:
        for element in current_car_elements[previous_car_count:]:
            Location_Sedan.append(element.text)
        previous_car_count = len(current_car_elements)

- # SUV

In [21]:
browser.get('https://www.cars24.com/buy-used-suv-cars-bangalore/')

In [22]:
Car_Model_SUV = []  
previous_car_count = 0
while True:
    browser.find_element(By.TAG_NAME, 'body').send_keys(Keys.END)
    time.sleep(3) 
    current_car_elements = browser.find_elements(By.XPATH, "//h2[@class='_2lmIw']")
    
    if len(current_car_elements) == previous_car_count:
        break  
    else:
        for element in current_car_elements[previous_car_count:]:
            Car_Model_SUV .append(element.text)
        previous_car_count = len(current_car_elements)

In [23]:
from selenium.webdriver.common.keys import Keys

# ...

configuration_SUV = []  
previous_car_count = 0
while True:
    browser.find_element(By.TAG_NAME, 'body').send_keys(Keys.END)
    time.sleep(3) 
    current_car_elements = browser.find_elements(By.XPATH, "//ul[@class='_13yb6']")
    
    if len(current_car_elements) == previous_car_count:
        break  
    else:
        for element in current_car_elements[previous_car_count:]:
            configuration_SUV.append(element.text)
        previous_car_count = len(current_car_elements)

In [24]:
Type_SUV = []
previous_car_count = 0
while True:
    browser.find_element(By.TAG_NAME, 'body').send_keys(Keys.END)
    time.sleep(3)  
    current_car_elements = browser.find_elements(By.XPATH, "//ul[@class='_1hOnS']")
    
    if len(current_car_elements) == previous_car_count:
        break  
    else:
        for element in current_car_elements[previous_car_count:]:
            Type_SUV.append(element.text)
        previous_car_count = len(current_car_elements)

In [25]:
Discounted_Car_Price_SUV = []  
previous_car_count = 0
while True:
    browser.find_element(By.TAG_NAME, 'body').send_keys(Keys.END)
    time.sleep(3) 
    current_car_elements = browser.find_elements(By.XPATH, "//div[@class='_18ToE']")
    
    if len(current_car_elements) == previous_car_count: # No new car names loaded, exit the loop
    else:
        for element in current_car_elements[previous_car_count:]:
            Discounted_Car_Price_SUV.append(element.text)
        previous_car_count = len(current_car_elements)

In [26]:
Location_SUV= []
previous_car_count = 0
while True:
    browser.find_element(By.TAG_NAME, 'body').send_keys(Keys.END)
    time.sleep(3)
    current_car_elements = browser.find_elements(By.XPATH, "//span[@class='_3DYbK']")
    
    if len(current_car_elements) == previous_car_count:
        break  
    else:
        for element in current_car_elements[previous_car_count:]:
            Location_SUV.append(element.text)
        previous_car_count = len(current_car_elements)

In [44]:
import pandas as pd
Hatchback=pd.DataFrame({'Car_Model':Car_Model_hatchback,'Configuration':configuration_hatchback,'Type':Type,'Discounted_Price':Discounted_Price,'Location':Location})

In [49]:
len(Car_Model_Sedan)

246

In [50]:
len(configuration_Sedan)

246

In [51]:

len(Type_Sedan)

246

In [52]:
len(Discounted_Car_Price_Sedan)

246

In [60]:
len(Location_Sedan)

246

In [45]:
Hatchback

,Car_Model,Configuration,Type,Discounted_Price,Location
0,2016 Volkswagen Polo,"96,698 KM\n2ND OWNER\nPETROL\nKA-09",GT TSI ATAutomatic,"₹7,08,000\n₹7,38,000",Sonnappanahalli
1,2015 Maruti Swift,"60,352 KM\n2ND OWNER\nPETROL\nKA-41",LXIManual,"₹4,29,000\n₹4,76,000","Whitefield Main Road, Bhoruka Tech Park, Benga..."
2,2010 Maruti Swift,"1,34,850 KM\n2ND OWNER\nPETROL\nKA-51",VXIManual,"₹3,14,000\n₹3,40,000","Horamavu Agara Road, Bengaluru"
3,2020 Hyundai Elite i20,"49,087 KM\n1ST OWNER\nPETROL\nKA-50",SPORTZ PLUS 1.2Manual,"₹7,10,000\n₹7,76,000","Horamavu Agara Road, Bengaluru"
4,2017 Maruti Celerio,"57,986 KM\n2ND OWNER\nPETROL\nKA-06",VXI (O)Manual,"₹4,06,000\n₹4,41,000","Bellahalli, Bengaluru"
...,...,...,...,...,...
807,2010 Maruti Alto K10,"38,144 KM\n2ND OWNER\nPETROL\nKA-41",LXIManual,"₹2,23,000\n₹2,33,000","Hosur Road, Singasandra, Bengaluru"
808,2013 Maruti Alto 800,"43,382 KM\n2ND OWNER\nPETROL\nKA-02",VXIManual,"₹2,78,000","Hosur Road, Singasandra, Bengaluru"
809,2016 Hyundai Grand i10,"40,792 KM\n2ND OWNER\nPETROL\nKA-53",SPORTZ 1.2 KAPPA VTVTManual,"₹4,78,000","Bellahalli, Bengaluru"
810,2010 Maruti Ritz,"86,017 KM\n2ND OWNER\nPETROL\nKA-41",VXIManual,"₹2,83,000","Hosur Road, Singasandra, Bengaluru"
811,2016 Hyundai Grand i10,"31,749 KM\n2ND OWNER\nPETROL\nKA-03",ASTA (O) AT 1.2 KAPPA VTVTAutomatic,"₹5,35,000","Bellahalli, Bengaluru"

In [61]:
Sedan=pd.DataFrame({'Car_Model':Car_Model_Sedan,'Configuration':configuration_Sedan,'Type':Type_Sedan,'Discounted_Price':Discounted_Car_Price_Sedan,'Location':Location_Sedan})

In [62]:
SUV=pd.DataFrame({'Car_Model':Car_Model_SUV,'Configuration':configuration_SUV,'Type':Type_SUV,'Discounted_Price':Discounted_Car_Price_SUV,'Location':Location_SUV})

In [63]:
Hatchback.to_csv('Hatchback.csv')

In [64]:
Sedan.to_csv('Sedan.csv')

In [65]:
SUV.to_csv('SUV.csv')